<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pichanga Club</title>
    <link rel="stylesheet" href="../styles/contacsStyles.css" />
    <link
    rel="icon"
    href="../img/PichangaClubLogo-Icon.icon"
    type="image/x-icon"
    />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CRZ1KEWPMR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CRZ1KEWPMR');
    </script>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="../../index.html">
          <img
            src="../img/PichangaClubLogo-Transparent.png"
            alt="Airview Photography Logo"
          />
        </a>
      </div>
      <div class="auth-buttons">
        <button><a href="../../index.html">Volver</a></button>
        <button onclick="window.location.href='./canchas.html'">Reservar</button>
      </div>
    </header>
    <main>
      <section class="contact">
        <div class="contact-info">
          <h2>Contáctanos</h2>
          <p>CAR.CENTRAL KM. 1.21<br />Huánuco, Tingo María</p>
          <p>
            Email:
            <a href="mailto:lastra.contactos@gmail.com"
              >pichangaclub.24.7@gmail.com</a
            >
          </p>
          <p>Phone: <a href="https://api.whatsapp.com/send?phone=960603135"> +51 960 603 135</a></p>
          <div class="social-icons">
          </a>
            <a href="https://www.facebook.com/people/Pichanga-Club/61559835058256/?mibextid=ZbWKwL" target="_blank">
              <img src="../img/square-facebook.svg" alt="square-facebook" />
            </a>
            <a href="https://www.instagram.com/pichangaclub.24.7/" target="_blank">
              <img src="../img/square-instagram.svg" alt="square-instagram" />
          </a>
          </div>
        </div>
        <div class="contact-form">
          <h2>Enviamos un mensaje</h2>
          <form action="#" method="post">
            <label for="name">Nombre *</label>
            <input type="text" id="name" name="name" required />
            <label for="email">E-mail *</label>
            <input type="email" id="email" name="email" required />
            <label for="message">Mensaje *</label>
            <textarea id="message" name="message" required></textarea>
            <button type="submit">Send a Message</button>
          </form>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; Pichanga Club, All Rights Reserved</p>
    </footer>
  </body>
</html>
