<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/detalle_cancha.css">
    <title>Pichanga Club - Cancha Detalles</title>
    <link
    rel="icon"
    href="../img/PichangaClubLogo-Icon.icon"
    type="image/x-icon"
    />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CRZ1KEWPMR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CRZ1KEWPMR');
    </script>
</head>

<body>
    <nav class="nav-bar_container">
        <div class="nav-bar">
            <div class="logo_container">
                <img src="../img/PichangaClubLogo-Transparent.png" alt="Logo">
            </div>
            <div class="auth-buttons">
                <button><a href="./canchas.html">Volver</a></button>
            </div>
        </div>
    </nav>
    <section id="golesdeoro" class="details_container">
      <div class="image_container">
          <h3>Cancha 1</h3>
          <img src="../img/canchas/gdo1.jpg" alt="Cancha gdo">
          <img src="../img/canchas/gdo2.jpg" alt="Cancha gdo">
      </div>
      <div class="contact_section">
        <div class="description">
          <h2>GOLES DE ORO</h2>
          <p>Disfruta de un campo de fútbol moderno con todas las comodidades y una atmósfera vibrante. Ideal para grupos y partidos amistosos.</p>
        </div>
          <h1>Contactanos</h1>
          <ul>
              <li>Email: golesdeoro@gmail.com</li>

              <li>Teléfono: +51 940 182 146</li>
              <a href="https://api.whatsapp.com/send?phone=940182146" class="footer__link linknodecoration">
                <div class="contact_section">
                  <h3>Chatea con nosotros</h3>
                  <li>WhatsApp: +51 940182146</li>
                    <div class="imagen">
                      <img
                        src="../img/whatsapp.png"
                        class="footer__icon"
                      />
                    </div>
                  <h3>Escribenos de parte de: PICHANGA CLUB!! </h3>
                </div>
              </a>
              <li>Dirección: CASTILLO GRANDE - FRENTE A ORO VERDE</li>
          </ul>
          <div class="calendar-access framed-box">
            <h1>Reserva tu espacio en nuestro calendario</h1>
            <div class="calendar-container">
                <a href="https://calendar.app.google/bkh1MZrjujLY1QCk6" class="footer__link">
                    <img src="../img/calendar.jpg" class="calendar-image" />
                </a>
                <a href="https://calendar.app.google/bkh1MZrjujLY1QCk6" class="calendar-button">Acceder al calendario</a>
            </div>
          </div>
      </div>
      <div class="products_section">
          <h3>Productos</h3>
          <div class="product">
              <img src="../img/canchas/producto1potokar.jpg" alt="Producto 1">
              <h4>Bebidas rehidratante</h4>
              <p>Sporade es una bebida isotónica diseñada para rehidratar y reponer electrolitos perdidos durante el ejercicio. Contiene electrolitos esenciales y carbohidratos que proporcionan energía rápida y mejoran el rendimiento deportivo. Disponible en varios sabores y presentaciones, es ideal para antes, durante y después del ejercicio.</p>
          </div>
          <div class="product">
              <img src="../img/canchas/producto2potokar.jpg" alt="Producto 2">
              <h4>Diferentes tipos de Cerveza </h4>
              <p>Disfruta de una refrescante cerveza después de jugar. Relájate y celebra con nuestras cervezas heladas, disponibles en una amplia variedad de estilos y sabores. ¡Compra ahora y convierte tu descanso en un momento especial!</p>
          </div>
              <!-- Agrega más productos según sea necesario -->
      </div>
  </section>
  <section id="potokar" class="details_container">
    <div class="image_container">
        <h3>Cancha 1</h3>
        <img src="../img/canchas/potokarcancha1.jpg" alt="Cancha Maracanazo">
        <img src="../img/canchas/potokar3cancha1.jpg" alt="Cancha Maracanazo">
        <h3>Cancha 2</h3>
        <img src="../img/canchas/potokar1cancha2.jpg" alt="Cancha Maracanazo">
        <img src="../img/canchas/potokar2cancha2.jpg" alt="Cancha Maracanazo">
        <h3>Cancha 3</h3>
        <img src="../img/canchas/potokar1cancha3.jpg" alt="Cancha Maracanazo">
    </div>
    <div class="contact_section">
      <div class="description">
        <h2>GRASS SINTETICO POTOKAR</h2>
        <p>Disfruta de un campo de fútbol moderno con todas las comodidades y una atmósfera vibrante. Ideal para grupos y partidos amistosos.</p>
      </div>
   
      <h1>Contactanos</h1>
      <ul>
          <li>Email: potokar@gmail.com</li>

          <li>Teléfono: +51 966 319 490</li>
          <a href="https://api.whatsapp.com/send?phone=966319490" class="footer__link linknodecoration">
            <div class="contact_section">
              <h3>Chatea con nosotros</h3>
              <h4>WhatsApp: +51 966319490</h4>
                <div class="imagen">
                  <img
                    src="../img/whatsapp.png"
                    class="footer__icon"
                  />
                </div>
              <h3>Escribenos de parte de PICHANGA CLUB!! </h3>
            </div>
          </a>
          <li>Dirección: A unos metro antes de la playa tingo - Tingo María</li>
      </ul>
      <div class="calendar-access framed-box">
        <h1>Reserva tu espacio en nuestro calendario</h1>
        <div class="calendar-container">
            <a href="https://calendar.app.google/P8NKfhsJWqQ3PxjL8" class="footer__link">
                <img src="../img/calendar.jpg" class="calendar-image" />
            </a>
            <a href="https://calendar.app.google/P8NKfhsJWqQ3PxjL8" class="calendar-button">Acceder al calendario</a>
        </div>
      </div>
  </div>
    <div class="products_section">
        <h3>Productos</h3>
        <div class="product">
            <img src="../img/canchas/producto1potokar.jpg" alt="Producto 1">
            <h4>Bebidas rehidratante</h4>
            <p>Sporade es una bebida isotónica diseñada para rehidratar y reponer electrolitos perdidos durante el ejercicio. Contiene electrolitos esenciales y carbohidratos que proporcionan energía rápida y mejoran el rendimiento deportivo. Disponible en varios sabores y presentaciones, es ideal para antes, durante y después del ejercicio.</p>
        </div>
        <div class="product">
            <img src="../img/canchas/producto2potokar.jpg" alt="Producto 2">
            <h4>Diferentes tipos de Cerveza </h4>
            <p>Disfruta de una refrescante cerveza después de jugar. Relájate y celebra con nuestras cervezas heladas, disponibles en una amplia variedad de estilos y sabores. ¡Compra ahora y convierte tu descanso en un momento especial!</p>
        </div>
            <!-- Agrega más productos según sea necesario -->
    </div>
  </section>
  <section id="videna" class="details_container">
    <div class="image_container">
        <h3>Cancha 1</h3>
        <img src="../img/canchas/videna1cancha1.jpg" alt="Cancha Maracanazo">
        <img src="../img/canchas/videna2cancha1.jpg" alt="Cancha Maracanazo">
        <h3>Cancha 2</h3>
        <img src="../img/canchas/videna1cancha2.jpg" alt="Cancha Maracanazo">
        <img src="../img/canchas/videna2cancha2.jpg" alt="Cancha Maracanazo">
    </div>
    <div class="contact_section">
      <div class="description">
        <h2>GRASS SINTETICO LA VIDENA</h2>
        <p>Disfruta de un campo de fútbol moderno con todas las comodidades y una atmósfera vibrante. Ideal para grupos y partidos amistosos.</p>
      </div>
      <h1>Contactanos</h1>
      <ul>
          <li>Email: lavidena@gmail.com</li>

          <li>Teléfono: +51 947 108 829</li>
          <li>Teléfono: +51 973 440 412</li>
          <div class="contact_section">
            <h3>Chatea con nosotros</h3>
              <a href="https://api.whatsapp.com/send?phone=947108829" class="footer__link  linknodecoration">
                <li>WhatsApp: +51 947108829</li>
                <div class="imagen">
                  <img
                    src="../img/whatsapp.png"
                    class="footer__icon"
                  />
                </div>
              </a>
              <a href="https://api.whatsapp.com/send?phone=973440412" class="footer__link  linknodecoration">
                <li>WhatsApp: +51 973440412</li>
                <div class="imagen">
                  <img
                    src="../img/whatsapp.png"
                    class="footer__icon"
                  />
                </div>
              </a>
            <h3>Escribenos de parte de PICHANGA CLUB!! </h3>
          </div>

          <li>Dirección: Brisas comité 9, a la mano derecha a unos metros del estadio local</li>
      </ul>
      <div class="calendar-access framed-box">
        <h1>Reserva tu espacio en nuestro calendario</h1>
        <div class="calendar-container">
            <a href="https://calendar.app.google/Zx85JM7Gv3FzzBVH8" class="footer__link">
                <img src="../img/calendar.jpg" class="calendar-image" />
            </a>
            <a href="https://calendar.app.google/Zx85JM7Gv3FzzBVH8" class="calendar-button">Acceder al calendario</a>
        </div>
      </div>
    </div>
    <div class="products_section">
        <h3>Productos</h3>
        <div class="product">
            <img src="../img/canchas/producto1potokar.jpg" alt="Producto 1">
            <h4>Bebidas rehidratante</h4>
            <p>Sporade es una bebida isotónica diseñada para rehidratar y reponer electrolitos perdidos durante el ejercicio. Contiene electrolitos esenciales y carbohidratos que proporcionan energía rápida y mejoran el rendimiento deportivo. Disponible en varios sabores y presentaciones, es ideal para antes, durante y después del ejercicio.</p>
        </div>
        <div class="product">
            <img src="../img/canchas/producto2potokar.jpg" alt="Producto 2">
            <h4>Diferentes tipos de Cerveza </h4>
            <p>Disfruta de una refrescante cerveza después de jugar. Relájate y celebra con nuestras cervezas heladas, disponibles en una amplia variedad de estilos y sabores. ¡Compra ahora y convierte tu descanso en un momento especial!</p>
        </div>
            <!-- Agrega más productos según sea necesario -->
    </div>
  </section>
  <section id="buencamino" class="details_container">
    <div class="image_container">
        <h3>Cancha 1</h3>
        <img src="../img/canchas/buencamino1.jpg" alt="Cancha Camino">
        <img src="../img/canchas/buencamino2.jpg" alt="Cancha Camino">
    </div>

    <div class="contact_section">
      <div class="description">
        <h2>GRASS SINTETICO BUEN CAMINO</h2>
        <p>Disfruta de un campo de fútbol moderno con todas las comodidades y una atmósfera vibrante. Ideal para grupos y partidos amistosos.</p>
      </div>
      <h1>Contactanos</h1>
      <ul>
          <li>Email: buencamino@gmail.com</li>

          <li>Teléfono: +51 960 603 135</li>
          <a href="https://api.whatsapp.com/send?phone=960603135" class="footer__link linknodecoration">
            <div class="contact_section">
              <h3>Chatea con nosotros</h3>
              <li>WhatsApp: +51 960603135</li>
                      <div class="imagen">
                        <img
                          src="../img/whatsapp.png"
                          class="footer__icon"
                        />
                      </div>
              <h3>Escribenos de parte de PICHANGA CLUB!! </h3>
            </div>
          </a>
          <li>Dirección: Brisas comité 12, ingresando por el pasaje Buen Camino</li>
      </ul>
      <div class="calendar-access framed-box">
        <h1>Reserva tu espacio en nuestro calendario</h1>
        <div class="calendar-container">
            <a href="https://calendar.app.google/DKZAePi3a7q4smmw6" class="footer__link">
                <img src="../img/calendar.jpg" class="calendar-image" />
            </a>
            <a href="https://calendar.app.google/DKZAePi3a7q4smmw6" class="calendar-button">Acceder al calendario</a>
        </div>
      </div>
    </div>
    <div class="products_section">
      <h3>Productos</h3>
      <div class="product">
          <img src="../img/canchas/producto1potokar.jpg" alt="Producto 1">
          <h4>Bebidas rehidratante</h4>
          <p>Sporade es una bebida isotónica diseñada para rehidratar y reponer electrolitos perdidos durante el ejercicio. Contiene electrolitos esenciales y carbohidratos que proporcionan energía rápida y mejoran el rendimiento deportivo. Disponible en varios sabores y presentaciones, es ideal para antes, durante y después del ejercicio.</p>
      </div>
      <div class="product">
          <img src="../img/canchas/producto2potokar.jpg" alt="Producto 2">
          <h4>Diferentes tipos de Cerveza </h4>
          <p>Disfruta de una refrescante cerveza después de jugar. Relájate y celebra con nuestras cervezas heladas, disponibles en una amplia variedad de estilos y sabores. ¡Compra ahora y convierte tu descanso en un momento especial!</p>
      </div>
          <!-- Agrega más productos según sea necesario -->
    </div>
  </section>
  <section id="realcastillo" class="details_container">
    <div class="image_container">
        <h3>Cancha 1</h3>
        <img src="../img/canchas/realcastillo1.jpg" alt="Cancha Castillo">
        <img src="../img/canchas/realcastillo2.jpg" alt="Cancha Castillo">
    </div>

    <div class="contact_section">
      <div class="description">
        <h2>GRASS SINTETICO  REAL CASTILLO</h2>
        <p>Disfruta de un campo de fútbol moderno con todas las comodidades y una atmósfera vibrante. Ideal para grupos y partidos amistosos.</p>
      </div> 
      <h1>Contactanos</h1>
      <ul>
          <li>Email: realcastillo@gmail.com</li>

          <li>Teléfono: +51 974 029 900</li>
          <li>Teléfono: +51 923 667 919</li>
          <div class="contact_section">
            <h3>Chatea con nosotros</h3>
            <a href="https://api.whatsapp.com/send?phone=974029900" class="footer__link linknodecoration">
              <li>WhatsApp: +51 974029900</li>
                <div class="imagen">
                  <img
                    src="../img/whatsapp.png"
                    class="footer__icon"
                  />
                </div>
            </a>
            <a href="https://api.whatsapp.com/send?phone=923667919" class="footer__link linknodecoration">
              <li>WhatsApp: +51 923667919</li>
                <div class="imagen">
                  <img
                    src="../img/whatsapp.png"
                    class="footer__icon"
                  />
                </div>
            </a>
            <h3>Escribenos de parte de PICHANGA CLUB!! </h3>
          </div>

          <li>Dirección: CASTILLO GRANDE, a la derecha del segundo rompemuelle</li>
      </ul>
      <div class="calendar-access framed-box">
        <h1>Reserva tu espacio en nuestro calendario</h1>
        <div class="calendar-container">
            <a href="https://calendar.app.google/EgdbG5kBfXnmYEEf8" class="footer__link">
                <img src="../img/calendar.jpg" class="calendar-image" />
            </a>
            <a href="https://calendar.app.google/EgdbG5kBfXnmYEEf8" class="calendar-button">Acceder al calendario</a>
        </div>
      </div>
    </div>
    <div class="products_section">
      <h3>Productos</h3>
      <div class="product">
          <img src="../img/canchas/producto1potokar.jpg" alt="Producto 1">
          <h4>Bebidas rehidratante</h4>
          <p>Sporade es una bebida isotónica diseñada para rehidratar y reponer electrolitos perdidos durante el ejercicio. Contiene electrolitos esenciales y carbohidratos que proporcionan energía rápida y mejoran el rendimiento deportivo. Disponible en varios sabores y presentaciones, es ideal para antes, durante y después del ejercicio.</p>
      </div>
      <div class="product">
          <img src="../img/canchas/producto2potokar.jpg" alt="Producto 2">
          <h4>Diferentes tipos de Cerveza </h4>
          <p>Disfruta de una refrescante cerveza después de jugar. Relájate y celebra con nuestras cervezas heladas, disponibles en una amplia variedad de estilos y sabores. ¡Compra ahora y convierte tu descanso en un momento especial!</p>
      </div>
          <!-- Agrega más productos según sea necesario -->
    </div>
  </section>
  <section id="peruanito" class="details_container">
    <div class="image_container">
        <h3>Cancha 1</h3>
        <img src="../img/canchas/peruano1.jpg" alt="Cancha Peruano">
        <img src="../img/canchas/peruano2.jpg" alt="Cancha Peruano">
        <img src="../img/canchas/peruano3.jpg" alt="Cancha Peruano">
    </div>

    <div class="contact_section">
      <div class="description">
        <h2>GRASS SINTETICO   EL PERUANO</h2>
        <p>Disfruta de un campo de fútbol moderno con todas las comodidades y una atmósfera vibrante. Ideal para grupos y partidos amistosos.</p>
      </div>
      <h1>Contactanos</h1>
      <ul>
          <li>Email: ellperuano@gmail.com</li>

          <li>Teléfono: +51 980 728 509</li>
          <a href="https://api.whatsapp.com/send?phone=980728509" class="footer__link linknodecoration">
            <div class="contact_section">
              <h3>Chatea con nosotros</h3>
              <li>WhatsApp: +51 980728509</li>
                      <div class="imagen">
                        <img
                          src="../img/whatsapp.png"
                          class="footer__icon"
                        />
                      </div>
              <h3>Escribenos de parte de PICHANGA CLUB!! </h3>
            </div>
          </a>
          <li>Dirección: Brisas comité 1, al frente del parque de brisas</li>
      </ul>
      <div class="calendar-access framed-box">
        <h1>Reserva tu espacio en nuestro calendario</h1>
        <div class="calendar-container">
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="footer__link">
                <img src="../img/calendar.jpg" class="calendar-image" />
            </a>
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="calendar-button">Acceder al calendario</a>
        </div>
      </div>
    </div>
    <div class="products_section">
      <h3>Productos</h3>
      <div class="product">
          <img src="../img/canchas/producto1potokar.jpg" alt="Producto 1">
          <h4>Bebidas rehidratante</h4>
          <p>Sporade es una bebida isotónica diseñada para rehidratar y reponer electrolitos perdidos durante el ejercicio. Contiene electrolitos esenciales y carbohidratos que proporcionan energía rápida y mejoran el rendimiento deportivo. Disponible en varios sabores y presentaciones, es ideal para antes, durante y después del ejercicio.</p>
      </div>
      <div class="product">
          <img src="../img/canchas/producto2potokar.jpg" alt="Producto 2">
          <h4>Diferentes tipos de Cerveza </h4>
          <p>Disfruta de una refrescante cerveza después de jugar. Relájate y celebra con nuestras cervezas heladas, disponibles en una amplia variedad de estilos y sabores. ¡Compra ahora y convierte tu descanso en un momento especial!</p>
      </div>
          <!-- Agrega más productos según sea necesario -->
    </div>
  </section>
  <section id="blanqui" class="details_container">
    <div class="image_container">
        <h3>Cancha 1</h3>
        <img src="../img/canchas/blanquirroja1.jpg" alt="Cancha Blanquirroja">
        <img src="../img/canchas/blanquirroja2.jpg" alt="Cancha Blanquirroja">
        <img src="../img/canchas/blanquirroja3.jpg" alt="Cancha Blanquirroja">
    </div>

    <div class="contact_section">
      <div class="description">
        <h2>GRASS SINTETICO LA BLANQUIROJA</h2>
        <p>Disfruta de un campo de fútbol moderno con todas las comodidades y una atmósfera vibrante. Ideal para grupos y partidos amistosos.</p>
      </div>
      <h1>Contactanos</h1>
      <ul>
          <li>Email: lablanquirroja@gmail.com</li>

          <li>Teléfono: +51 913 749 771</li>
          <a href="https://api.whatsapp.com/send?phone=913749771" class="footer__link linknodecoration">
            <div class="contact_section">
              <h3>Chatea con nosotros</h3>
              <li>WhatsApp: +51 913749771</li>
                      <div class="imagen">
                        <img
                          src="../img/whatsapp.png"
                          class="footer__icon"
                        />
                      </div>
              <h3>Escribenos de parte de PICHANGA CLUB!! </h3>
            </div>
          </a>
          <li>Dirección: Los Laureles, una calle antes de la base del ejercito del perú.</li>
      </ul>
      <div class="calendar-access framed-box">
        <h1>Reserva tu espacio en nuestro calendario</h1>
        <div class="calendar-container">
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="footer__link">
                <img src="../img/calendar.jpg" class="calendar-image" />
            </a>
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="calendar-button">Acceder al calendario</a>
        </div>
      </div>
    </div>
    <div class="products_section">
      <h3>Productos</h3>
      <div class="product">
          <img src="../img/canchas/producto1potokar.jpg" alt="Producto 1">
          <h4>Bebidas rehidratante</h4>
          <p>Sporade es una bebida isotónica diseñada para rehidratar y reponer electrolitos perdidos durante el ejercicio. Contiene electrolitos esenciales y carbohidratos que proporcionan energía rápida y mejoran el rendimiento deportivo. Disponible en varios sabores y presentaciones, es ideal para antes, durante y después del ejercicio.</p>
      </div>
      <div class="product">
          <img src="../img/canchas/producto2potokar.jpg" alt="Producto 2">
          <h4>Diferentes tipos de Cerveza </h4>
          <p>Disfruta de una refrescante cerveza después de jugar. Relájate y celebra con nuestras cervezas heladas, disponibles en una amplia variedad de estilos y sabores. ¡Compra ahora y convierte tu descanso en un momento especial!</p>
      </div>
      <div class="product">
        <img src="../img/canchas/productoblanquirroja.jpg" alt="Producto 3">
        <h4>Diferentes tipos de Cerveza </h4>
        <p>Disfruta de una refrescante cerveza después de jugar. Relájate y celebra con nuestras cervezas heladas, disponibles en una amplia variedad de estilos y sabores. ¡Compra ahora y convierte tu descanso en un momento especial!</p>
      </div>
        <!-- Agrega más productos según sea necesario -->
    </div>
  </section>
  <section id="jeftaro" class="details_container">
    <div class="image_container">
        <h3>Cancha 1</h3>
        <img src="../img/canchas/jeftaro4.jpg" alt="Cancha jeftaro">
        <img src="../img/canchas/jeftaro2.jpg" alt="Cancha jeftaro">
        <img src="../img/canchas/jeftaro3.jpg" alt="cancha jeftaro">
    </div>
    <div class="contact_section">
      <div class="description">
        <h2>GRASS SINTETICO JEFTARO</h2>
        <p>Disfruta de un campo de fútbol moderno con todas las comodidades y una atmósfera vibrante. Ideal para grupos y partidos amistosos.</p>
      </div>
      <h1>Contactanos</h1>
      <ul>
          <li>Email: jeftaro@gmail.com</li>

          <li>Teléfono 1: +51 963 533 694</li>
          <li>Teléfono 2: +51 977 475 386</li>
          <div class="contact_section">
            <h3>Chatea con nosotros</h3>
            <a href="https://api.whatsapp.com/send?phone=963533694" class="footer__link linknodecoration">
              <li>WhatsApp: +51 963533694</li>
                    <div class="imagen">
                      <img
                        src="../img/whatsapp.png"
                        class="footer__icon"
                      />
                    </div>
            </a>
            <a href="https://api.whatsapp.com/send?phone=977475386" class="footer__link linknodecoration">
              <li>WhatsApp: +51 977475386</li>
                <img
                    src="../img/whatsapp.png"
                    class="footer__icon"
                />
            </a>
            <h3>Escribenos de parte de PICHANGA CLUB!! </h3>
          </div>

          <li>Dirección: PJ. BRISAS COMITÉ 9, TINGO MARIA</li>
      </ul>
      <div class="calendar-access framed-box">
        <h1>Reserva tu espacio en nuestro calendario</h1>
        <div class="calendar-container">
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="footer__link">
                <img src="../img/calendar.jpg" class="calendar-image" />
            </a>
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="calendar-button">Acceder al calendario</a>
        </div>
      </div>
    </div>
    <div class="products_section">
      <h3>Productos</h3>
      <div class="product">
          <img src="../img/canchas/producto1potokar.jpg" alt="Producto 1">
          <h4>Bebidas rehidratante</h4>
          <p>Sporade es una bebida isotónica diseñada para rehidratar y reponer electrolitos perdidos durante el ejercicio. Contiene electrolitos esenciales y carbohidratos que proporcionan energía rápida y mejoran el rendimiento deportivo. Disponible en varios sabores y presentaciones, es ideal para antes, durante y después del ejercicio.</p>
      </div>
      <div class="product">
          <img src="../img/canchas/producto2potokar.jpg" alt="Producto 2">
          <h4>Diferentes tipos de Cerveza </h4>
          <p>Disfruta de una refrescante cerveza después de jugar. Relájate y celebra con nuestras cervezas heladas, disponibles en una amplia variedad de estilos y sabores. ¡Compra ahora y convierte tu descanso en un momento especial!</p>
      </div>
      <div class="product">
        <img src="../img/canchas/productojeftaro.jpg" alt="Producto 3">
        <h4>Diferentes indumentarias para jugar </h4>
        <p>aprovecha nuestras indumentarias, como medias y chalecos y puedas disfrutar del deporte comodamente.</p>
      </div>
          <!-- Agrega más productos según sea necesario -->
    </div>
  </section>
  <section id="atlantic" class="details_container">
    <div class="image_container">
        <h3>Cancha 1</h3>
        <img src="../img/canchas/atlantic1.jpeg" alt="Cancha atlantic">
        <img src="../img/canchas/atlantic2.jpeg" alt="Cancha atlantic">
    </div>
    <div class="contact_section">
      <div class="description">
        <h2>GRASS SINTETICO ATLANTIC</h2>
        <p>Disfruta de un campo de fútbol moderno con todas las comodidades y una atmósfera vibrante. Ideal para grupos y partidos amistosos.</p>
      </div>
      <h1>Contactanos</h1>
      <ul>
          <li>Email: atlantic@gmail.com</li>

          <li>Teléfono: +51 987 888 911</li>
          <a href="https://api.whatsapp.com/send?phone=987888911" class="footer__link linknodecoration">
            <div class="contact_section">
              <h3>Chatea con nosotros</h3>
              <li>WhatsApp: +51 987888911</li>
                      <div class="imagen">
                        <img
                          src="../img/whatsapp.png"
                          class="footer__icon"
                        />
                      </div>
              <h3>Escribenos de parte de PICHANGA CLUB!! </h3>
            </div>
          </a>
          <li>Dirección: Carretera central camino a palmas</li>
      </ul>
      <div class="calendar-access framed-box">
        <h1>Reserva tu espacio en nuestro calendario</h1>
        <div class="calendar-container">
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="footer__link">
                <img src="../img/calendar.jpg" class="calendar-image" />
            </a>
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="calendar-button">Acceder al calendario</a>
        </div>
      </div>
    </div>
    <div class="products_section">
      <h3>Productos</h3>
      <div class="product">
          <img src="../img/canchas/producto1potokar.jpg" alt="Producto 1">
          <h4>Bebidas rehidratante</h4>
          <p>Sporade es una bebida isotónica diseñada para rehidratar y reponer electrolitos perdidos durante el ejercicio. Contiene electrolitos esenciales y carbohidratos que proporcionan energía rápida y mejoran el rendimiento deportivo. Disponible en varios sabores y presentaciones, es ideal para antes, durante y después del ejercicio.</p>
      </div>
      <div class="product">
          <img src="../img/canchas/producto2potokar.jpg" alt="Producto 2">
          <h4>Diferentes tipos de Cerveza </h4>
          <p>Disfruta de una refrescante cerveza después de jugar. Relájate y celebra con nuestras cervezas heladas, disponibles en una amplia variedad de estilos y sabores. ¡Compra ahora y convierte tu descanso en un momento especial!</p>
      </div>
          <!-- Agrega más productos según sea necesario -->
    </div>
  </section>
  <section id="nissi" class="details_container">
    <div class="image_container">
        <h3>Cancha 1</h3>
        <img src="../img/canchas/nissi1.jpg" alt="Cancha Nissi">
        <img src="../img/canchas/nissi2.jpg" alt="Cancha Nissi">
    </div>

    <div class="contact_section">
      <div class="description">
        <h2>GRASS SINTETICO NISSI</h2>
        <p>Disfruta de un campo de fútbol moderno con todas las comodidades y una atmósfera vibrante. Ideal para grupos y partidos amistosos.</p>
      </div>
      <h1>Contactanos</h1>
      <ul>
          <li>Email: nissi@gmail.com</li>

          <li>Teléfono: +51 960 603 135</li>
          <a href="https://api.whatsapp.com/send?phone=960603135" class="footer__link linknodecoration">
            <div class="contact_section">
              <h3>Chatea con nosotros</h3>
              <li>Teléfono: +51 960603135</li>
                      <div class="imagen">
                        <img
                          src="../img/whatsapp.png"
                          class="footer__icon"
                        />
                      </div>
              <h3>Escribenos de parte de PICHANGA CLUB!! </h3>
            </div>
          </a>
          <li>Dirección: Brisas comité 11, a 3 calles más adelante del estadio local del comité 9</li>
      </ul>
      <div class="calendar-access framed-box">
        <h1>Reserva tu espacio en nuestro calendario</h1>
        <div class="calendar-container">
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="footer__link">
                <img src="../img/calendar.jpg" class="calendar-image" />
            </a>
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="calendar-button">Acceder al calendario</a>
        </div>
      </div>
    </div>
    <div class="products_section">
      <h3>Productos</h3>
      <div class="product">
          <img src="../img/canchas/producto1potokar.jpg" alt="Producto 1">
          <h4>Bebidas rehidratante</h4>
          <p>Sporade es una bebida isotónica diseñada para rehidratar y reponer electrolitos perdidos durante el ejercicio. Contiene electrolitos esenciales y carbohidratos que proporcionan energía rápida y mejoran el rendimiento deportivo. Disponible en varios sabores y presentaciones, es ideal para antes, durante y después del ejercicio.</p>
      </div>
      <div class="product">
          <img src="../img/canchas/producto2potokar.jpg" alt="Producto 2">
          <h4>Diferentes tipos de Cerveza </h4>
          <p>Disfruta de una refrescante cerveza después de jugar. Relájate y celebra con nuestras cervezas heladas, disponibles en una amplia variedad de estilos y sabores. ¡Compra ahora y convierte tu descanso en un momento especial!</p>
      </div>
          <!-- Agrega más productos según sea necesario -->
    </div>
  </section>
  <section id="nacional" class="details_container">
    <div class="image_container">
        <h3>Cancha 1</h3>
        <img src="../img/canchas/nacional1.jpg" alt="Cancha Nacional">
        <img src="../img/canchas/nacional2.jpg" alt="Cancha Nacional">
    </div>

    <div class="contact_section">
      <div class="description">
        <h2>GRASS SINTETICO  EL NACIONAL</h2>
        <p>Disfruta de un campo de fútbol moderno con todas las comodidades y una atmósfera vibrante. Ideal para grupos y partidos amistosos.</p>
      </div>
      <h1>Contactanos</h1>
      <ul>
          <li>Email: elnacional@gmail.com</li>

          <li>Teléfono: +51 957 202 180</li>
          <a href="https://api.whatsapp.com/send?phone=957202180" class="footer__link linknodecoration">
            <div class="contact_section">
              <h3>Chatea con nosotros</h3>
              <li>WhatsApp: +51 957202180</li>
                      <div class="imagen">
                        <img
                          src="../img/whatsapp.png"
                          class="footer__icon"
                        />
                      </div>
              <h3>Escribenos de parte de PICHANGA CLUB!! </h3>
            </div>
          </a>
          <li>Dirección: CASTILLO GRANDE, a la mano derecha del segundo rompemuelle, al lado de REAL CASTILLO</li>
      </ul>
      <div class="calendar-access framed-box">
        <h1>Reserva tu espacio en nuestro calendario</h1>
        <div class="calendar-container">
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="footer__link">
                <img src="../img/calendar.jpg" class="calendar-image" />
            </a>
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="calendar-button">Acceder al calendario</a>
        </div>
      </div>
    </div>
    <div class="products_section">
      <h3>Productos</h3>
      <div class="product">
          <img src="../img/canchas/producto1potokar.jpg" alt="Producto 1">
          <h4>Bebidas rehidratante</h4>
          <p>Sporade es una bebida isotónica diseñada para rehidratar y reponer electrolitos perdidos durante el ejercicio. Contiene electrolitos esenciales y carbohidratos que proporcionan energía rápida y mejoran el rendimiento deportivo. Disponible en varios sabores y presentaciones, es ideal para antes, durante y después del ejercicio.</p>
      </div>
      <div class="product">
          <img src="../img/canchas/producto2potokar.jpg" alt="Producto 2">
          <h4>Diferentes tipos de Cerveza </h4>
          <p>Disfruta de una refrescante cerveza después de jugar. Relájate y celebra con nuestras cervezas heladas, disponibles en una amplia variedad de estilos y sabores. ¡Compra ahora y convierte tu descanso en un momento especial!</p>
      </div>  
        <!-- Agrega más productos según sea necesario -->
    </div>
  </section>
  <section id="fortin" class="details_container">
    <div class="image_container">
      <h3>Cancha 1</h3>
      <img src="../img/canchas/golesdeoro1.jpg" alt="Cancha Maracanazo">
      <img src="../img/canchas/golesdeoro2.jpg" alt="Cancha Maracanazo">
    </div>

    <div class="contact_section">
      <div class="description">
        <h2>GRASS SINTETICO FORTIN DE LA BELLA</h2>
        <p>Disfruta de un campo de fútbol moderno con todas las comodidades y una atmósfera vibrante. Ideal para grupos y partidos amistosos.</p>
      </div>
      <h1>Contactanos</h1>
      <ul>
          <li>Email: fortin@gmail.com</li>

          <li>Teléfono: +51 960 603 135</li>
          <a href="https://api.whatsapp.com/send?phone=960603135" class="footer__link linknodecoration">
            <div class="contact_section">
              <h3>Chatea con nosotros</h3>
                  <div class="imagen">
                    <img
                      src="../img/whatsapp.png"
                      class="footer__icon"
                    />
                  </div>
              <h3>Escribenos de parte de PICHANGA CLUB!! </h3>
            </div>
          </a>
          <li>Dirección: Jr Cajamarca cuadra 9, intersección con jr aguaytia</li>
      </ul>
      <div class="calendar-access framed-box">
        <h1>Reserva tu espacio en nuestro calendario</h1>
        <div class="calendar-container">
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="footer__link">
                <img src="../img/calendar.jpg" class="calendar-image" />
            </a>
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="calendar-button">Acceder al calendario</a>
        </div>
      </div>
    </div>
    <div class="products_section">
      <h3>Productos</h3>
      <div class="product">
          <img src="../img/canchas/producto1potokar.jpg" alt="Producto 1">
          <h4>Bebidas rehidratante</h4>
          <p>Sporade es una bebida isotónica diseñada para rehidratar y reponer electrolitos perdidos durante el ejercicio. Contiene electrolitos esenciales y carbohidratos que proporcionan energía rápida y mejoran el rendimiento deportivo. Disponible en varios sabores y presentaciones, es ideal para antes, durante y después del ejercicio.</p>
      </div>
      <div class="product">
          <img src="../img/canchas/producto2potokar.jpg" alt="Producto 2">
          <h4>Diferentes tipos de Cerveza </h4>
          <p>Disfruta de una refrescante cerveza después de jugar. Relájate y celebra con nuestras cervezas heladas, disponibles en una amplia variedad de estilos y sabores. ¡Compra ahora y convierte tu descanso en un momento especial!</p>
      </div>
          <!-- Agrega más productos según sea necesario -->
    </div>
  </section>
  <section id="morumbi" class="details_container">
    <div class="image_container">
        <h3>Cancha 1</h3>
        <img src="../img/canchas/golesdeoro1.jpg" alt="Cancha Maracanazo">
        <img src="../img/canchas/golesdeoro2.jpg" alt="Cancha Maracanazo">
    </div>

    <div class="contact_section">
      <div class="description">
        <h2>GRASS SINTETICO EL MORUMBI</h2>
        <p>Disfruta de un campo de fútbol moderno con todas las comodidades y una atmósfera vibrante. Ideal para grupos y partidos amistosos.</p>
      </div>
      <h1>Contactanos</h1>
      <ul>
          <li>Email: elmorumbi@gmail.com</li>

          <li>Teléfono: +51 921 945 603</li>
          <a href="https://api.whatsapp.com/send?phone=921945603" class="footer__link linknodecoration">
            <div class="contact_section">
              <h3>Chatea con nosotros</h3>
              <li>WhatsApp: +51 921945603</li>
                  <div class="imagen">
                    <img
                      src="../img/whatsapp.png"
                      class="footer__icon"
                    />
                  </div>
              <h3>Escribenos de parte de PICHANGA CLUB!! </h3>
            </div>
          </a>

          <li>Dirección: 3ra Etapa Potokar S/N- Playa Los Cocos, a unos metros del hotel la Coqueta, al final de la calle</li>
      </ul>
      <div class="calendar-access framed-box">
        <h1>Reserva tu espacio en nuestro calendario</h1>
        <div class="calendar-container">
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="footer__link">
                <img src="../img/calendar.jpg" class="calendar-image" />
            </a>
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="calendar-button">Acceder al calendario</a>
        </div>
      </div>
    </div>
    <div class="products_section">
      <h3>Productos</h3>
      <div class="product">
          <img src="../img/canchas/producto1potokar.jpg" alt="Producto 1">
          <h4>Bebidas rehidratante</h4>
          <p>Sporade es una bebida isotónica diseñada para rehidratar y reponer electrolitos perdidos durante el ejercicio. Contiene electrolitos esenciales y carbohidratos que proporcionan energía rápida y mejoran el rendimiento deportivo. Disponible en varios sabores y presentaciones, es ideal para antes, durante y después del ejercicio.</p>
      </div>
      <div class="product">
          <img src="../img/canchas/producto2potokar.jpg" alt="Producto 2">
          <h4>Diferentes tipos de Cerveza </h4>
          <p>Disfruta de una refrescante cerveza después de jugar. Relájate y celebra con nuestras cervezas heladas, disponibles en una amplia variedad de estilos y sabores. ¡Compra ahora y convierte tu descanso en un momento especial!</p>
      </div>
          <!-- Agrega más productos según sea necesario -->
    </div>
  </section>
  <section id="maracanazo" class="details_container">
    <div class="image_container">
        <h3>Cancha 1</h3>
        <img src="../img/canchas/maracanazo1.jpg" alt="Cancha Maracanazo">
        <img src="../img/canchas/maracanazo2.jpg" alt="Cancha Maracanazo">
    </div>
    <div class="contact_section">
      <div class="description">
        <h2>GRASS SINTETICO MARACANAZO</h2>
        <p>Disfruta de un campo de fútbol moderno con todas las comodidades y una atmósfera vibrante. Ideal para grupos y partidos amistosos.</p>
      </div>
      <h1>Contactanos</h1>
      <ul>
          <li>Email: maracanazo@gmail.com</li>

          <li>Teléfono: +51 960 603 135</li>
          <a href="https://api.whatsapp.com/send?phone=960603135" class="footer__link linknodecoration">
            <div class="contact_section">
              <h3>Chatea con nosotros</h3>
              <li>WhatsApp: +51 960603135</li>
                      <div class="imagen">
                        <img
                          src="../img/whatsapp.png"
                          class="footer__icon"
                        />
                      </div>
              <h3>Escribenos de parte de PICHANGA CLUB!! </h3>
            </div>
          </a>
          <li>Dirección: Jr. MONZÓN CUADRA 5, MISMA ESQUINA CON JR HUANUCO</li>
      </ul>
      <div class="calendar-access framed-box">
        <h1>Reserva tu espacio en nuestro calendario</h1>
        <div class="calendar-container">
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="footer__link">
                <img src="../img/calendar.jpg" class="calendar-image" />
            </a>
            <a href="https://calendar.app.google/rtWf2y8z8z152NRi6" class="calendar-button">Acceder al calendario</a>
        </div>
      </div>
    </div>
    <div class="products_section">
      <h3>Productos</h3>
      <div class="product">
          <img src="../img/canchas/producto1potokar.jpg" alt="Producto 1">
          <h4>Bebidas rehidratante</h4>
          <p>Sporade es una bebida isotónica diseñada para rehidratar y reponer electrolitos perdidos durante el ejercicio. Contiene electrolitos esenciales y carbohidratos que proporcionan energía rápida y mejoran el rendimiento deportivo. Disponible en varios sabores y presentaciones, es ideal para antes, durante y después del ejercicio.</p>
      </div>
      <div class="product">
          <img src="../img/canchas/producto2potokar.jpg" alt="Producto 2">
          <h4>Diferentes tipos de Cerveza </h4>
          <p>Disfruta de una refrescante cerveza después de jugar. Relájate y celebra con nuestras cervezas heladas, disponibles en una amplia variedad de estilos y sabores. ¡Compra ahora y convierte tu descanso en un momento especial!</p>
      </div>
          <!-- Agrega más productos según sea necesario -->
    </div>
  </section>
  <footer>
        <h4>SIGUENOS EN</h4>
        <div class="icons-container">
            <a href="https://www.facebook.com/people/Pichanga-Club/61559835058256/?mibextid=ZbWKwL" target="_blank">
                <img src="../img/square-facebook.svg" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/invites/contact/?igsh=14gibszj54by2&utm_content=ulomydq" target="_blank">
                <img src="../img/square-instagram.svg" alt="Instagram">
            </a>
        </div>
  </footer>

  <script>
      document.addEventListener('DOMContentLoaded', function() {
          const urlParams = new URLSearchParams(window.location.search);
          const canchaId = urlParams.get('canchaId');
          if (canchaId) {
              document.getElementById(canchaId).style.display = 'flex';
          }
      });
  </script>
</body>
</html>
